<h3>{{artistName}}albums</h3>
<a href="/">Go back</a>
<br />

<div class="all-albums">
  {{#each artistView}}
    <div class="each-album">
      <img width="160px" src={{this.images.1.url}} />
      <p>{{this.name}}</p>
      <button><a href="/tracks/{{this.name}}/{{this.id}}">View Tracks</a></button>
    </div>
  {{/each}}
</div>